@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then uses the OrderByDescending() method, which takes the property to sort. In this case the page's creation date.
    - It then generates links so the visitor can go to each page
*@

@{
    /**/

    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.DocumentTypeAlias == "projectsOverview").First().Children
    .Where(x => x.HasValue("projectStatus") &&
    Umbraco.GetPreValueAsString(x.GetPropertyValue<int>
        ("projectStatus")) == "Completed").OrderBy("CreateDate desc").Take(5).ToArray();

}


@if (selection.Length > 0)
{
    <h3>Newest projects</h3>
    <ul>
        @foreach (var menuItem in selection)
        {
            var isProtected = umbraco.library.IsProtected(menuItem.Id, menuItem.Path);
            var loginAccess = isProtected && umbraco.library.HasAccess(menuItem.Id, menuItem.Path);
            if (!isProtected || loginAccess)
            {
                <li class="@(menuItem.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                    <a href="@menuItem.Url">@menuItem.Name</a>
                </li>
            }
            @*<li><a href="@item.Url">@item.Name</a></li>*@
        }
    </ul>
}
