@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    /**/

    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible()).ToArray();
}
@if (selection.Length > 0)
{

    <ul class="navbar-nav mr-auto">
        @*Home link*@
        <li class="@(Model.Content.Name == site.Name ? " current" : null)">
            <a class="nav-link" href="@site.Url">@site.Name</a>
        </li>
        @*subpages*@
        @foreach (var item in selection)
        {

            <li class=" @(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                <a class="nav-link" href="@item.Url">@item.Name</a>
            </li>
        }

    </ul>
}

